﻿@page "/Ordenar"

<MudCard>
    <MudCardContent>
        <MudGrid>
            <MudItem sm="2">
                <InputFile id="fileInput112" OnChange="UploadFiles" hidden multiple accept=".txt" />

                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Filled.CloudUpload"
                           for="fileInput112"
                           Class="m-2">
                    Cargar Archivo
                </MudButton>

                @if (CasosAOrdenar.Count > 0)
                {
                    <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Secondary"
                           StartIcon="@Icons.Filled.Download"
                           Class="mt-2"
                    @onclick="@DescargarArchivo">
                        Descargar Archivo
                    </MudButton>
                }
            </MudItem>
            <MudItem sm="10">
                <MudGrid>


                    @if (CasosAOrdenar.Count > 0)
                    {

                        @foreach (var item in CasosAOrdenar)
                        {
                            <MudItem sm="4">

                                <MudCard>
                                    <MudCardContent>

                                        <MudText>No Palabras: @item.NoPalabras </MudText>

                                        <MudExpansionPanels MultiExpansion="true">
                                            <MudExpansionPanel Text="Palabras">



                                                <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" >
                                                    <MudTabPanel Text="Inicial">
                                                        <MudTable Items="@item.Palabras" FixedHeader="@true" Height="@("200px")" Dense="true">
                                                            <RowTemplate>
                                                                <MudTd DataLabel="Palabras">@context</MudTd>
                                                            </RowTemplate>
                                                        </MudTable>
                                                    </MudTabPanel>
                                                    @if (item.Ordenable)
                                                    {
                                                        <MudTabPanel Text="Ordenadas">
                                                            <MudTable Items="@item.PalabrasOrdenadas" FixedHeader="@true" Height="@("200px")" Dense="true">
                                                                <RowTemplate>
                                                                    <MudTd DataLabel="Palabras">@context</MudTd>
                                                                </RowTemplate>
                                                            </MudTable>
                                                        </MudTabPanel>
                                                    }
                                                </MudTabs>
                                            </MudExpansionPanel>
                                        </MudExpansionPanels>
                                    </MudCardContent>
                                    <MudCardActions>
                                        @if (item.Ordenable)
                                        {
                                            <MudButton Variant="Variant.Filled" Color="Color.Success">Ordenable</MudButton>
                                        }
                                        else
                                        {
                                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">No Ordenable</MudButton>
                                        }
                                    </MudCardActions>
                                </MudCard>
                            </MudItem>
                        }

                    }
                </MudGrid>
            </MudItem>
        </MudGrid>

    </MudCardContent>
</MudCard>